<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描service 包下面所有使用注解的类型 -->
    <context:component-scan base-package="com.hejinyo.ssm.service"/>
    <!-- 扫描model 包下面所有使用注解的类型 -->
    <context:component-scan base-package="com.hejinyo.ssm.model"/>

    <!--Spring中ApplicationContext的工具类-->
    <bean id="SpringContextUtil" class="com.hejinyo.ssm.utils.SpringContext"/>

    <!--引入其他配置文件（springmvc 无需引入）-->
    <import resource="spring-mybatis.xml"/>

</beans>